.profile__info {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}

.profile__info:last-child {
  margin-bottom: 0;
}
