.profile__info {
	display: flex;
	gap: 10px;
	margin-bottom: 16px;
	font-weight: 400;
	font-size: 18px;
	font-style: normal;
	line-height: 24px;
	letter-spacing: 0;
}

.profile__info:last-child {
	margin-bottom: 0;
}
