.filter__checkbox {
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
}

.filter__checkbox:checked + .filter__pseudo-checkbox {
	background-image: url('../../../images/checked.svg');
}

.filter__checkbox:checked ~ .filter__label-text {
	color: #f06000;
}
