.filter__checkbox {
	display: none;
}

.filter__checkbox:checked ~ .filter__label-text {
	color: #f06000;
}

.filter__checkbox:checked ~ .filter__label-text::after{
	background-image: url('../../../images/checked.svg');
}
