.filter__reset {
	/*display: none;*/
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 1.3;
	border: none;
	background-color:#ffffff ;
}

.filter__reset:hover {
	cursor: pointer;
}
