.profile__button {
	background-color: #FFFFFF;
	border: 1.2px solid #E6E7EB;
	margin: 32px 0 0;
	color: #FF6600;
	content: url('../../../images/exit.svg');
}

.profile__button:hover {
	cursor: pointer;
	border: 1.2px solid #FF6600;
}
