.profile__button {
	margin: 32px 0 0;
	color: #ff6600;
	background-color: #ffffff;
	content: url('../../../images/exit.svg');
	transition: 0.3s;
}

.profile__button:hover {
	border: 1.2px solid #ff6600;
	box-shadow: none;
	cursor: pointer;
}
