.filter-chip {
	display: flex;
	align-items: center;
	width: fit-content;
	height: 24px;
	margin-bottom: 8px;
	background-color: #e6e7eb;
	border-radius: 16px;
}

.filter-chip:hover .filter-chip__icon{
	display: flex;
}
